/* Set common font family style */
*{
    font-family: Mulish;
}
body{
    width: 1440px;
    height: 6940px;
    margin: auto;
}
/* Header sections start  */

/* Nav-bar style */
.nav-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 52px;
}
.fa-bars{
    color: #FFF;
}
.title-logo{
    display: flex;
    gap: 15px;
}
.logo{
    height: 56.008px;
    margin-top: 25px;
}
.title{
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}
.travel{
    color: #FF5400;
    font-size: 2.25rem;
    font-weight: 800;
}
.nav-item ul{
    display: flex;
    justify-content: space-evenly;
    gap: 44px;
    margin-right: 75px;
    list-style: none;
}
.nav-item ul li a{
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
}
.nav-item ul li a:hover{
    box-shadow: 0 -5px 0px #FF5400 inset;
}
.home{
    color: #FF5400;
}

/* Banner section  */
.banner{
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    width: 1170px;
    height: 500px;
    margin: 0 auto;
    border-radius: 16px;
    margin-top: 20px;
}
.banner{
    text-align: center;
    color: #FFF;
}
.banner-title{
    font-size: 4rem;
    font-weight: 800;
    padding-top: 100px;
}
.banner-description{
    font-size: 1rem;
    font-weight: 400;
}
.box-container{
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-top: 20px;
}
.box-container input,button{
    width: 174px;
    height: 54px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
}
.box-container .btn{
    color: #FFF;
    background: #FF5400;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}
.fa-chevron-down{
    color: rgba(19, 19, 24, 0.7);
    margin: auto;
}




/* Main section start  */
/* our-popular-tours  */
.our-popular-tours{
    display: flex;
    margin: 100px 60px;
    gap: 80px;
}
.content-title{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.content-description{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}
.our-popular-tours ul li{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
}
.more-btn{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1.25rem;
    font-weight: 800;
    margin-top: 32px;
    cursor: pointer;
}

/* Chose your destination  */

.destination-container{
    text-align: center;
}
.destination-title{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    padding-top: 20px;
}
.destination-description{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    margin: 0 400px;
}

.img-container{
    display: flex;
    gap: 24px;
    margin: 20px 135px;
}


/* why chose us section  */
.card-content{
    padding: 20px 0;
}
.chose-title{
    text-align: center;
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}
.chose-description{
    text-align: center;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    padding: 0 400px;
}

.card-container{
    display: flex;
    margin: 20px 135px;
}
.card-1{
    margin: 0 10px;
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.card-1 img{
    width: 64px;
    height: 64px;
}
.card-2{
    margin: 0 10px;
    align-items: center;
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.card-2 img{
    width: 64px;
    height: 64px;
}
.card-3{
    margin: 0 auto;
    align-items: center;
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border-radius: 16px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
.card-3 img{
    width: 64px;
    height: 64px;
}
.card-title{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    padding: 0 32px;
}
.card-description{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    padding: 0 32px;
}

/* A Simple Perfect Place To Get Lost  */

.perfect-place{
    display: flex;
    margin: 50px 135px;
}
.perfect-place-title{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}
.perfect-place-description{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    width: 532px;
}
.perfect-place-content ul li{
    color: #131318;
    font-size: 1rem;
    font-weight: 700;
}
.perfect-place-video video{
    width: 610px;
    height: 424px;
    border-radius: 16px;
    background: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0.00) 100%);
}

/* Subscribe section  */
.subscribe-form{
    display: flex;
    margin: 20px 135px;
    gap: 30px;
}
.newsletter{
    width: 474px;
    height: 422px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}
.newsletter{
    display:inline-block;
}
.form-title{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin: 40px;
}
.form-description{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    margin: 0 40px;
}
.line{
    width: 393px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
}
.input-box{
    width: 370px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    margin-left: 40px;
    padding-left: 20px;
}
.Subscribe-btn{
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
    margin-left: 40px;
}
.subscribe-form .newsletter input placeholder{
    color: rgba(19, 19, 24, 0.30);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.newsletter-image .box{
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    text-align: center;
    margin-top: -200px;
    margin-left: 340px;
}
.box p{
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 400;
}
.box h3{
    color: #FFF;
    font-size: 2rem;
    font-weight: 800;
}

/* Footer started  */
.footer{
    margin-top: 80px;
    background:rgba(19, 19, 24, 0.05);
    text-align: center;
}
.footer-name{
    display: flex;
    justify-content: center;
    padding-top: 110px;
    gap: 15px;
}
.footer-name img{
    width: 50px;
    height: 46.673px;
    margin-top: 35px;
}
.footer-name h3{
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
}
#footer-details{
    padding: 15px 335px 15px;
}

.links{
    margin: 50px;
}
.links a{
    padding: 15px;
}
hr{
    width: 872px;
    height: 1px;
    color: rgba(19, 19, 24, 0.10);
    border-left: none;
}

#copyright{
    padding-top: 50px;
    padding-bottom: 100px;
}



/* Responsive style  */
@media screen and (max-width: 600px) {
    .nav-item ul{
        display: none;
    }
    .title-logo {
        display: flex;
    }
    .logo {
        width: 28.724px;
        height: 30.516px;
        margin-left: 10px;
    }
    .nav-container, .logo{
        display: block;
        margin-top: 10px;

    }
    .title{
        font-size: 1.25rem;
        margin-top: 10px;
    }
    .travel{
        font-size: 1.25rem;
    }
    .fa-bars{
        width: 24px;
        height: 24px;
        color: #131318;
        margin-top: 17px;
        margin-left: 140px;
    }
    .banner{
        width: 335px;
        height: 483px;
        border-radius: 16px;
        margin-left: 18px;
        margin-top: -15px;
    }
    .banner-title{
        font-size: 1.25rem;
        font-weight: 800;
        margin-bottom: 25px;
        padding: 10px;
    }
    .banner-description{
        font-size: 14px;
        font-weight: 400;
    }
    .box-container{
        display: block;
        background: rgba(255, 255, 255, 0.30);
        width: 287px;
    }
    .box-container input,button{
        width: 255px;
        height: 52px;
        color: rgba(19, 19, 24, 0.50);
        margin: 5px auto;
    }
    .our-popular-tours{
        width: 335px;
        height: 72px;
        flex-direction: column;
        margin: 50px 25px;
        gap: 80px;
    }
    .content-title{
        font-size: 1.25rem;
    }
    .content-description{
        font-size: 14px;
    }

    .img-container{
        flex-direction: column;
        width: 375px;
        margin: 0 10px;
        gap: 5px;
    }
    .img1{
        margin-top: 50px;
        margin-left: 10px;
        margin-bottom: -5px;
    }
    .img2{
        margin-top: 10px;
        margin-left: 10px;
    }
    .img3{
        padding-top: 10;
        margin-left: 10px;
    }
    .img4{
        padding-top: 10;
        margin-left: 10px;
    }
    .img5{
        padding-top: 10;
        margin-left: 10px;
    }
    .img6{
        padding-top: 10;
        margin-left: 10px;
    }
    .img7{
        padding-top: 10;
        margin-left: 10px;
    }
    .destination-title{
        font-size: 1.25rem;
        margin: 0 45px;
    }

    .destination-description{
        font-size: 14px;
        width: 300px;
        height: 72px;
        margin: 0 45px;
    }

    .destination-container{
        text-align: start;
        margin-top: 1300px;
    }
    .picture{
        width: 335px;
        height: 176px;
    }

    .chose-title{
        text-align:start;
        font-size: 1.25rem;
        margin: 10px 33px;
    }
    .chose-description{
        text-align: start;
        width: 300px;
        height: 72px;
        font-size: 14px;
        padding: 0 33px;
    }

    .card-container{
        flex-direction: column;
        margin: 20px 18px;
    }

    .card-1, .card-2, .card-3{
        width: 325px;
        height: 290px;
    }

    .card-3{
        margin: 20px 18px;
        padding-left: 5px;
    }
    .perfect-place{
        flex-direction: column;
        margin: 50px 25px;
    }
    .perfect-place-title{
        font-size: 1.25rem;
        width: 248px;
        height: 60px;
    }

    .perfect-place-description{
        font-size: 14px;
        width: 335px;
        height: 72px;
    }
    .perfect-place-content ul li{
        width: 335px;
        height: 72px;
        font-size: 14px;
    }
    .perfect-place-video video{
        width: 335px;
        height: 200px;
        border-radius: 16px;
    }

    .subscribe-form{
        flex-direction: column;
        margin-top: 20px;
        margin-left: 20px;
        gap: 20px;
    }

    .newsletter{
        width: 335px;
        height: 353px;
    }

    .form-title{
        font-size: 1.25rem;
        margin: 24px;
    }
    .form-description{
        font-size: 14px;
        margin: 24px;
    }
    .line{
        width: 288px;
        height: 0px;
    }
    .input-box{
        width: 240px;
        height: 52px;
        border-radius: 8px;
        background: rgba(19, 19, 24, 0.05);
        border: none;
        margin-left: 40px;
        padding-left: 20px;
    }
    .Subscribe-btn{
        width: 265px;
        height: 52px;
        font-size: 1.25rem;
    }
    .newsletter-image img{
        width: 335px;
        height: 300px;
    }

    .box p{
        font-size: 15px;
    }
    .box h3{
        font-size: 1.25rem;
    }

    .newsletter-image .box{
        width: 214.023px;
        height: 79.268px;;
        margin-top: -130px;
        margin-left: 115px;
    }

    .footer{
        width: 375px;
        height: 450px;
        text-align: left;
    }
    .footer-name{
        padding-top: 5px;
        padding-left: 5px;
    }
    #footer-details{
        margin-top: -15px;
        padding-left: 45px;
        width: 290px;
    }
    hr{
        width: 335px;
        margin-left: 15px;
        margin-top: -15px;
    }
    .links{
        margin-top: -15px;
        margin-left: 90px;
    }
    #copyright{
        margin-left: 90px;
        margin-top: -30px;
    }



    
    
}